*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.navbar-brand-img {
    width: 50px !important;
    object-fit: contain;
}

.navbar-toggler {
    border: none !important;
}

.img-custom-mode{
    /* aspect-ratio: ; */
    mix-blend-mode: multiply;
}
.img-card-fitur{
    width: 100%;
    aspect-ratio: 5/6;
    object-fit: contain;
}
.img-card-penutup{
    width: 50%;
    aspect-ratio: 5/6;
    object-fit: contain;
}
.img-logo{
    width: 15%;
    aspect-ratio: 5/6;
    object-fit: contain;
}
.wrap-anywhere{
    word-wrap: anywhere;
}
.white-space-normal{
    white-space: normal !important;
}


/* SWETALERT */

.colored-toast.swal2-icon-success {
    /* background-color: #a7ffaeda !important; */
    background-color: #a5dc86 !important;
  }

  .colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
  }

  .colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
  }

  .colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
  }

  .colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
  }


  .colored-toast .swal2-title {
    color: rgb(255, 255, 255);
  }

  .colored-toast .swal2-close {
    color: rgb(255, 255, 255);
  }

  .colored-toast .swal2-html-container {
    color: rgb(255, 255, 255);
  }
  .ct-docs-sidenav-pro-badge {
    text-transform: uppercase;
    float: right!important;
    color: #bd0000;
    background-color: #fc9797;
    font-size: 66%;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
    padding: .35rem .375rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 35%
  }
/* SWETALERT */

@media only screen and (max-width: 768px)  {
    .flex-reverse{
        flex-direction: column-reverse;
    }
}
@media only screen and (min-width: 992px)  {
.hide-992{
    display: flex !important;
}
}
