*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.navbar-brand-img {
    width: 50px !important;
}

.navbar-toggler {
    border: none !important;
}

.img-custom-mode{
    /* aspect-ratio: ; */
    mix-blend-mode: multiply;
}
.img-card-fitur{
    width: 100%;
    aspect-ratio: 5/6;
    object-fit: contain;
}
.img-card-penutup{
    width: 50%;
    aspect-ratio: 5/6;
    object-fit: contain;
}

@media only screen and (max-width: 768px)  {
    .flex-reverse{
        flex-direction: column-reverse;
    }
}
@media only screen and (min-width: 992px)  {
.hide-992{
    display: flex !important;
}
}
